# Compiled Objects #
####################
*.o
Blobby3D
__pycache__/

# Tests #
####################
Tests/
python/
Examples/

# Results #
####################
*sample.txt
*sample_info.txt
*sampler_state.txt
*levels.txt
*.pdf

# Temporary Files #
###################
*#
*~

# VS Code Files #
#################
settings.json
